// sGrid tools and settings
@import 's-grid-settings'
@import 's-grid-functions'
@import 's-grid-classes'

// Rupture media queries
@import 'rupture'

// custom project settings
@import 'settings'


body
    font-family font-headers

.s-grid-container
    center(container-max-width)

.s-grid-sticky-header
    position fixed
    top 0
    left 0
    width 100%
    background-color color-main-light
    box-shadow 0 rem-calc(-2) rem-calc(5) rem-calc(5) rgba(color-main-dark, .15)
    padding-top rem-calc(15)
    padding-bottom rem-calc(15)
    transition padding-top .3s, padding-bottom .3s
    font-family font-headers
    font-weight 600
    color lighten(color-main-dark, 20%)
    z-index 2
    transform translateZ(0)
    a
        color lighten(color-main-dark, 20%)
        text-decoration none
    .s-grid-sticky-header-wrapper
        grid()
        width 100%
    .s-grid-sticky-header-logo,
    .s-grid-sticky-header-menu
        stack()
        text-align center
        +above(breakpoints[md])
            cell(1, 2, align: 'center')
    .s-grid-sticky-header-logo
        font-size rem-calc(25)
        font-weight 900
        transition font-size .3s, padding .3s
        +above(breakpoints[md])
            text-align left
        a
            display inline-block
            padding rem-calc(5) rem-calc(15)
            border rem-calc(3) solid lighten(color-main-dark, 20%)
    &.scrolled
        padding-top 0
        padding-bottom 0
        .s-grid-sticky-header-logo
            font-size rem-calc(18)
            a
                padding rem-calc(2) rem-calc(10)
    .s-grid-sticky-header-menu
        +above(breakpoints[md])
            text-align right
        .menu-list
            list-style-type none
            .menu-list-item
                padding-left rem-calc(10)
                padding-right rem-calc(10)
                display inline-block
                padding-top rem-calc(10)
                a
                    display inline-block
                    position relative
                    padding-bottom rem-calc(10)
                    &:after
                        position absolute
                        opacity 0
                        content " "
                        display block
                        width 0
                        height 0.1875rem
                        background-color #252525
                        bottom 0
                        left 50%
                        transform translateX(-50%)
                        transition all .2s
                    &:hover
                        &:after
                            opacity 1
                            width 100%


.s-grid-jumbo
    grid()
    height 100vh
    background-color color-main-contrast
    background-image url('/images/bg.jpg')
    background-size cover
    background-position 50% 50%
    background-repeat no-repeat
    color color-main-light
    .s-grid-jumbo-wrapper
        cell(1, 1, align: 'center', g: 0)
        width 100%
        text-align center
        .s-grid-headline,
        .s-grid-subheadline
            font-family font-headers
            font-weight 900
            padding-left rem-calc(20)
            padding-right rem-calc(20)
        .s-grid-headline
            display none
            +above(breakpoints[md])
                display block
            font-size rem-calc(85)
            margin-bottom rem-calc(25)
            .border
                display inline-block
                padding rem-calc(10) rem-calc(30)
                border rem-calc(15) solid color-main-light
        .s-grid-subheadline
            font-size rem-calc(45)
            +above(breakpoints[md])
                font-size rem-calc(35)
    .s-grid-read-more
        position absolute
        bottom rem-calc(25)
        font-size rem-calc(40)
        left 0
        width 100%
        text-align center
        .fa
            animation-name swing
            animation-duration 1.5s
            animation-iteration-count infinite

// button arrow animations
@keyframes swing
    0%
        transform translateY(0%)
    50%
        transform translateY(50%)
    100%
        transform: translateY(0%)

.s-grid-usage,
.s-grid-tools-logos
    padding-top rem-calc(50)
    padding-bottom rem-calc(50)
    .s-grid-tools-wrapper
        grid()
        .s-grid-tools-intro,
        .s-grid-read-more
            cell(1, 1)
            text-align center
            h1
                font-size rem-calc(46)
                font-weight 900
                margin-top 0
                margin-bottom 0
                .red
                    color red
            h1, h2, h3
                margin-top 0
                color lighten(color-main-dark, 15%)
            .read-more-btn
                display inline-block
                padding rem-calc(15) rem-calc(30)
                color color-main-contrast
                font-size rem-calc(20)
                font-weight 900
                text-decoration none
                border rem-calc(3) solid color-main-contrast
                transition color .3s, background-color .3s
                margin-top rem-calc(30)
                margin-bottom rem-calc(30)
                &.small
                    font-size rem-calc(16)
                    padding rem-calc(10) rem-calc(20)
                    font-weight 600
                    border rem-calc(2) solid color-main-contrast
                &:hover
                    background-color color-main-contrast
                    color color-main-light
            .s-grid-read-more
                font-size rem-calc(30)
        .s-grid-tools-column
            cell(1, 2, align: 'center', g: 60)
            text-align center
            +above(breakpoints[md])
                cell(1, 4, align: 'center', g: 60)
            img
                width auto
                max-width 100%
                max-height rem-calc(200)
.s-grid-usage
    background-color darken(color-main-light, 5%)
.s-grid-built-with
    background-color color-main-contrast
    color color-main-light
    padding-top rem-calc(50)
    padding-bottom rem-calc(50)
    text-align center
    h1
        margin-top 0
        font-size rem-calc(40)
        font-weight 900
    a
        color color-main-light
        text-decoration none
        font-weight 600
    .s-grid-portfolio-wrapper
        grid()
        margin-bottom rem-calc(25)
        .s-grid-portfolio-item
            stack()
            +above(breakpoints[md])
                cell(1, 2, g: 30)
                &.t-left
                    text-align left
                &.t-right
                    text-align right
            img
                width auto
                max-width 100%
                border rem-calc(2) solid color-main-light

.s-grid-documentation-intro
    background-color color-main-contrast
    background-image url('/images/bg.jpg')
    background-size cover
    background-position 50% 50%
    background-repeat no-repeat
    color color-main-light
    padding-top rem-calc(172)
    padding-left rem-calc(30)
    padding-right rem-calc(30)
    padding-bottom rem-calc(15)
    +above(breakpoints[md])
        padding-bottom rem-calc(60)
    h1
        text-align center
        font-size rem-calc(20)
        font-weight 900
        margin-top 0
        span
            font-size rem-calc(40)
        +above(breakpoints[md])
            text-align left
            font-size rem-calc(30)
            span
                font-size rem-calc(50)

.s-grid-documentation-content
    padding-top rem-calc(30)
    padding-bottom rem-calc(30)
    .s-grid-documentation-content-wrapper
        grid()
        .s-grid-docs-image
            float right
            max-height rem-calc(200)
            max-width rem-calc(200)
            margin 0 0 rem-calc(30) rem-calc(30)
        .s-grid-docs-menu
            stack()
            +above(1000px)
                cell(1, 4)
            border-right rem-calc(1) solid lighten(color-main-dark, 90%)
            padding-right rem-calc(40)
            ul
                list-style-type none
                text-align left
                +above(1000px)
                    text-align right
                a
                    color lighten(color-main-dark, 15%)
                    text-decoration none
                    padding rem-calc(7) rem-calc(15)
                    transition background-color .3s
                    &.active,
                    &:hover
                        background-color darken(color-main-light, 3%)
            > ul
                > li
                    font-size rem-calc(22)
                    padding-top rem-calc(15)
                    padding-bottom rem-calc(15)
                    font-weight 600
                    > ul
                        > li
                            font-weight 400
                            font-size rem-calc(16)
                            padding-top rem-calc(15)

        .s-grid-docs-text
            stack()
            +above(1000px)
                cell(3, 4)
                padding-left rem-calc(40)
            pre
                font-size rem-calc(14)
                padding rem-calc(10)
                box-shadow 0 0 rem-calc(5) rem-calc(2) rgba(color-main-dark, .1)
                width 100%
                display block
                white-space pre-wrap
                code
                    padding rem-calc(20)
            h2
                font-size rem-calc(48)
                margin-bottom rem-calc(35)
                font-weight 400
                border-bottom rem-calc(1) solid darken(color-main-light, 10%)
                padding-bottom rem-calc(5)
            h3
                font-size rem-calc(32)
                margin-bottom rem-calc(15)
                font-weight 400
            p, blockquote
                margin-bottom rem-calc(20)
                font-weight 300
                line-height 1.4
                font-size rem-calc(18)
            blockquote
                padding-left rem-calc(20)
                border-left rem-calc(3) solid color-main-contrast
                font-style italic
            a
                color color-main-contrast

            ul, ol
                margin-left rem-calc(17)
                font-weight 300
                li
                    padding-top rem-calc(5)
                    padding-bottom rem-calc(5)
                > ul
                    margin-left rem-calc(30)
                    > ul
                        margin-left rem-calc(45)
            > ul
                margin-bottom rem-calc(25)

.s-grid-footer
    background-color color-main-dark
    color color-main-light
    padding-top rem-calc(30)
    padding-bottom rem-calc(30)
    .s-grid-footer-wrapper
        grid()
        .s-grid-footer-left-column,
        .s-grid-footer-right-column
            stack()
            +above(breakpoints[md])
                cell(1, 2, align: 'center')
            a
                color color-main-light
        .s-grid-footer-right-column
            text-align center
            +above(breakpoints[md])
                text-align right
        .s-grid-footer-left-column
            text-align center
            +above(breakpoints[md])
                text-align left



// =================================
// s-grid demos styles
// =================================

.normal-item
    order 1
.my-special-item
    order 0

.demo-grid
    background-color rgba(color-main-dark, .1)
    margin-bottom rem-calc(40)
    border rem-calc(10) solid color-main-light
    box-shadow 0 0 rem-calc(5) rem-calc(2) rgba(color-main-dark, .1)
    .demo-grid
        box-shadow none
        border 0
.demo-item
    background-color rgba(color-main-dark, .1)
    padding rem-calc(20)
    border-radius rem-calc(3)
    font-size rem-calc(14)

.my-custom-class-for-grid
    grid()
    .my-custom-class-for-grid-cell
        cell(1, 1)
        +above(rem-calc(breakpoints[md]))
            cell(1, 2)
        +above(rem-calc(breakpoints[lg]))
            cell(1, 3)
        +above(rem-calc(breakpoints[xlg]))
            cell(1, 4)
        +above(rem-calc(breakpoints[xxlg]))
            cell(1, 6)


.my-custom-class-for-grid2
    grid()
    .my-custom-class-for-grid-cell2
        &.type1
            cell(1, 1)
            +above(rem-calc(breakpoints[md]))
                cell(1, 2)
            +above(rem-calc(breakpoints[lg]))
                cell(1, 3)
        &.type2
            cell(1, 1, 'center')
            +above(rem-calc(breakpoints[lg]))
                cell(1, 3, 'center')
        &.type3
            cell(1, 1)
            +above(rem-calc(breakpoints[md]))
                cell(1, 2)
            +above(rem-calc(breakpoints[lg]))
                cell(1, 1)
        &.type4
            cell(1, 2)
            +above(rem-calc(breakpoints[lg]))
                cell(2, 3)
        &.type5
            cell(1, 1, 'bottom')
            +above(rem-calc(breakpoints[sm]))
                cell(1, 2, 'bottom')
            +above(rem-calc(breakpoints[md]))
                cell(1, 1, 'bottom')
            +above(rem-calc(breakpoints[lg]))
                cell(1, 3, 'bottom')
        &.type6
            cell(1, 1)
            +above(rem-calc(breakpoints[sm]))
                cell(1, 3)
        &.type7
            cell(1, 1)
            +above(rem-calc(breakpoints[sm]))
                cell(1, 2)
                cell-offset(1, 6)


.my-custom-class-for-grid3
    grid()
    .my-custom-class-for-grid-cell3
        cell(1, 1)
        +above(rem-calc(breakpoints[lg]))
            cell(1, 2)
        .my-custom-class-for-grid3_1
            grid()
            .my-custom-class-for-grid-cell3_1
                cell(1, 1)
                +above(rem-calc(breakpoints[lg]))
                    cell(1, 2)


.my-custom-class-for-grid4
    grid(direction: 'column')
    height rem-calc(500)
    overflow-x auto
    .my-custom-class-for-grid-cell4
        cell(1, 1)
        width rem-calc(250)
        +above(rem-calc(breakpoints[md]))
            cell(1, 2)
        +above(rem-calc(breakpoints[lg]))
            cell(1, 3)


.my-custom-class-for-grid5
    grid(direction: 'row-reverse')
    .my-custom-class-for-grid-cell5
        cell(1, 1)
        width rem-calc(250)
        +above(rem-calc(breakpoints[md]))
            cell(1, 2)
        +above(rem-calc(breakpoints[lg]))
            cell(1, 3)