<!doctype html>
<html lang="en">
    <head>
        {{> header-meta}}
    </head>
    <body>
        {{> sticky-header}}
        {{body}}
        {{> footer}}
        {{> footer-meta}}
    </body>
</html>
