---
layout: default.hbs
title: 'Stylus Flexbox Grid System - Use it with React, Meteor or Grunt'
---

<section class="s-grid-jumbo">
    <div class="s-grid-jumbo-wrapper">
        <div class="s-grid-container">
            <div class="s-grid-headline">
                <span class="border">sGrid</span>
            </div>
            <div class="s-grid-subheadline">
                Flexbox Grid System for Stylus
            </div>
        </div>
    </div>
    <div class="s-grid-read-more">
        <i class="fa fa-fw fa-angle-double-down js-animated-arrow"></i>
    </div>
</section>

<section class="s-grid-usage">
    <div class="s-grid-container">
        <div class="s-grid-tools-wrapper">
            <div class="s-grid-tools-intro">
                <h1>I <i class="fa fa-fw fa-heart red"></i> Stylus</h1>
                <h2>I needed a flexbox grid system... so here it is!</h2>
                <h3>Use it with...</h3>
                <div class="s-grid-read-more">
                    <i class="fa fa-fw fa-angle-double-down"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="s-grid-tools-logos">
    <div class="s-grid-container">
        <div class="s-grid-tools-wrapper">
            <div class="s-grid-tools-column">
                <a href="/meteor.html"><img src="images/meteor.svg" alt=""></a>
            </div>
            <div class="s-grid-tools-column">
                <a href="/grunt.html"><img src="images/grunt.svg" alt=""></a>
            </div>
            <div class="s-grid-tools-column">
                <a href="/react.html"><img src="images/react.svg" alt=""></a>
            </div>
            <div class="s-grid-tools-column">
                <a href="/npm.html"><img src="images/npm.svg" alt=""></a>
            </div>
            <div class="s-grid-read-more">
                <a href="/getting-started.html" class="read-more-btn">Learn more!</a>
            </div>
        </div>
    </div>
</section>

<section class="s-grid-built-with">
    <div class="s-grid-container">
        <h1>Built with sGrid</h1>
        <div class="s-grid-portfolio-wrapper">
            <div class="s-grid-portfolio-item t-right">
                <div>
                    <a href="http://kreskanaluzie.pl">
                        <img src="/images/built-with-kreska.png" alt="Kreska Na Luzie">
                    </a>
                </div>
                <div>
                    <a href="http://kreskanaluzie.pl">kreskanaluzie.pl</a>
                </div>
            </div>
            <div class="s-grid-portfolio-item t-left">
                <div>
                    <a href="http://pretty-diff.meteor.com">
                        <img src="/images/built-with-pretty.png" alt="Pretty Diff">
                    </a>
                </div>
                <div>
                    <a href="http://pretty-diff.meteor.com">pretty-diff.meteor.com</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="s-grid-usage">
    <div class="s-grid-container">
        <div class="s-grid-tools-wrapper">
            <div class="s-grid-tools-intro">
                <h2>Also this website was built with sGrid Grunt scaffold.</h1>
                <h3>Check out the source code!</h3>
                <div>
                    <a href="https://github.com/juliancwirko/s-grid-main-website" class="read-more-btn small">sGrid Website on GitHub</a>
                </div>
                <div class="s-grid-info">Please send me your websites built with sGrid :)</div>
            </div>
        </div>
    </div>
</section>