---
layout: docs.hbs
title: Stylus Flexbox Grid System - Meteor Package
docsIntroTitle: Meteor Package
menuActive: meteor
---

<h2>Usage with Meteor</h2>
<p>
    <img src="/images/meteor.svg" alt="sGrid Meteor" class="s-grid-docs-image">
    Using it with Meteor projects is even simpler. You just have to install the package.
</p>

<p>
    Then in your project, in your main .styl file, include all three files. The same as in Npm section.
    You shouldn't install the Stylus package as it will be installed with the sGrid package. And that's it! Really fast and simple.
</p>

<p>
    <strong>Just add the package in your project:</strong>
</p>

{{#markdown}}

```bash
$ meteor add juliancwirko:s-grid
```
&nbsp;
{{/markdown}}

<p>
    Here are the package's links:
    <ul>
        <li>
            <a href="https://atmospherejs.com/juliancwirko/s-grid">sGrid on Atmosphere</a>
        </li>
        <li>
            <a href="https://github.com/juliancwirko/meteor-s-grid/">Meteor sGrid on GitHub</a>
        </li>
        <li>
            <a href="https://github.com/juliancwirko/scotty">Scotty - Meteor boilerplate with sGrid</a>
        </li>
        <li>
            <a href="https://github.com/juliancwirko/meteor-pretty-diff-app">Meteor App built with sGrid</a>
        </li>
    </ul>
</p>

<p>
    <strong>
        For more detailed grid documentation see here: <a href="/docs.html">Grid</a>
    </strong>
</p>