---
layout: docs.hbs
title: Stylus Flexbox Grid System - React Boilerplate
docsIntroTitle: React Boilerplate
menuActive: react
---

<h2>Usage with React</h2>
<p>
    <img src="/images/react.svg" alt="sGrid React" class="s-grid-docs-image">
    If you want to work with React you need to check out this repo: <a href="https://github.com/juliancwirko/react-boilerplate">https://github.com/juliancwirko/react-boilerplate</a>. This is a ready to use React project scaffold.
</p>

<p>
    This is a React sample project which uses Webpack and sGrid from the start. After you run it you can go to http://localhost:3000
</p>

{{#markdown}}

```bash
$ git clone https://github.com/juliancwirko/react-boilerplate.git
$ cd react-boilerplate
$ npm install
$ npm start
```
&nbsp;
{{/markdown}}

<p>
    <strong>
        For more detailed grid documentation see here: <a href="/docs.html">Grid</a>
    </strong>
</p>