<ul>
    <li>
        <a href="/getting-started.html" {{#is menuActive 'getting-started'}}class="active"{{/is}}>
            Getting Started
        </a>
        <ul>
            <li>
                <a href="/npm.html" {{#is menuActive 'npm'}}class="active"{{/is}}>Npm package</a>
            </li>
            <li>
                <a href="/grunt.html" {{#is menuActive 'grunt'}}class="active"{{/is}}>Usage with Grunt</a>
            </li>
            <li>
                <a href="/react.html" {{#is menuActive 'react'}}class="active"{{/is}}>Usage with React</a>
            </li>
            <li>
                <a href="/meteor.html" {{#is menuActive 'meteor'}}class="active"{{/is}}>Usage with Meteor</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/docs.html" {{#is menuActive 'grid'}}class="active"{{/is}}>
            Grid
        </a>
        <ul>
            <li>
                <a href="/examples.html" {{#is menuActive 'grid-examples'}}class="active"{{/is}}>Examples</a>
            </li>
        </ul>
    </li>
</ul>