<footer class="s-grid-footer">
    <div class="s-grid-container">

        <div class="s-grid-footer-wrapper">
            <div class="s-grid-footer-left-column">
                sGrid is made and maintained by <a href="http://julian.io">Julian Ćwirko</a>
            </div>
            <div class="s-grid-footer-right-column">
                Built with sGrid - <a href="/grunt.html">Grunt scaffold</a>
            </div>
        </div>
    </div>
</footer>