<header class="s-grid-sticky-header js-sticky-header">
    <div class="s-grid-container">
        <div class="s-grid-sticky-header-wrapper">
            <div class="s-grid-sticky-header-logo">
                <a href="/">sGrid</a>
            </div>
            <div class="s-grid-sticky-header-menu">
                <ul class="menu-list">
                    <li class="menu-list-item">
                        <a href="/getting-started.html">Getting Started</a>
                    </li>
                    <li class="menu-list-item">
                        <a href="/docs.html">Docs</a>
                    </li>
                    <li class="menu-list-item">
                        <a href="https://github.com/juliancwirko/s-grid-main-website">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>